<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 Studio Raz. All rights reserved.
  ~ See LICENCE file for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sricount>
            <gateway>
                <can_create_invoice>1</can_create_invoice>
            </gateway>

            <general>
                <active>0</active>
                <mode>2</mode><!-- @see: \SR\Gateway\Model\System\Config\Source\Mode  -->
                <http_client>1</http_client><!-- @see: \SR\Gateway\Model\System\Config\Source\HttpClient  -->

                <api_endpoint_sandbox>https://api.icount.co.il/api/v3.php/</api_endpoint_sandbox>
            </general>

            <cron>
                <create_invoice>0</create_invoice>
            </cron>
        </sricount>
    </default>
</config>
